<div class="modal-hd">
    <a href="{{hubUrl}}" class="linkCTA linkCTA_a1 mix-linkCTA_tCaps js-href">
        <span class="inlineIcn">
            <span class="inlineIcn-md mix-inlineIcn-md_pRightXtiny">
                <span class="icn icn_back"></span>
            </span>
            <span class="inlineIcn-bd">
                <span class="showAtMed">Back to</span> Main Stage
            </span>
        </span>
    </a>
</div><!-- Modal Head - end -->