<div class="grid-col grid-col_1of3 js-scoreboard">
    <h2 class="isVisuallyHidden">Plumr Pairs</h2>

    <div class="controls">
        <div class="controls-hd">
            <div class="timer">
                <div class="timer-hd">
                    <h3 class="hdg hdg_h4 mix-hdg_cSecondary mix-hdg_tShadow mix-hdg_tCaps">Level {{level}}</h3>
                </div>

                <div class="timer-container">
                    <div class="timer-ft timer-ft_showAtXsm">
                        <div class="btnGroup btnGroup_hList">
                            <a href="#" class="btn mix-btn_help js-howToPlay">
                                <span class="btn-hd">
                                    <span class="icn">How to Play</span>
                                </span>
                            </a>
                            <a href="#" class="btn mix-btn_soundMute js-audioButton">
                                <span class="btn-hd">
                                    <span class="icn">Mute Sound</span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="timer-bd">
                        <div class="clock">
                            <span class="clock-minutes js-clock-minutes">0</span>
                            <span class="clock-spacer">
                                <span class="clock-spacer-icn"></span>
                                <span class="clock-spacer-icn"></span>
                            </span>
                            <span class="clock-seconds js-clock-seconds">00</span>
                        </div>
                    </div>

                    <div class="timer-ft timer-ft_showAtMed">
                        <div class="btnGroup">
                            <a href="#" class="btn btn_med mix-btn_secondary js-howToPlay">
                                <span class="btn-hd">How to Play</span>
                            </a>
                            <a href="#" class="btn mix-btn_soundMute js-audioButton">
                                <span class="btn-hd">
                                    <span class="icn">Mute Sound</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div><!-- Timer Container - end -->
            </div><!-- Timer - end -->
        </div><!-- Controls Header - end -->

        <div class="controls-md">
            <div class="logo">
                <div class="logo-plumrPairs logo-plumrPairs_sm">Plumr Pairs</div>
            </div>
        </div><!-- Controls Media - end -->
    </div><!-- Controls - end -->
</div>