<ul class="share">
    <li class="share-item mix-share-item_textLg">
        Challenge your friends
    </li>
    <li class="share-item">
        <a href="#" class="share-item-link">
            <span class="icn icn_facebook js-shareFacebook"
                  data-js-name="{{facebook.title}}"
                  data-js-description="{{facebook.body}}"
                  data-js-image="{{shareImageUrl}}">
                Facebook
            </span>
        </a>
    </li>
    <li class="share-item">
        <a href="#" class="share-item-link">
            <span class="icn icn_twitter js-shareTwitter"
                  data-js-description="{{twitter.body}}">
                Twitter
            </span>
        </a>
    </li>
</ul>