<div class="modal modal_isOpen">
    <div class="modal-container modal-container_smAtXsm">
        <div class="modal-container-content">
            {{> templates/modules/_ReturnToMainStage}}

            <div class="modal-bd modal-bd_pSidesLg">
                <div class="grid">
                    <div class="grid-col grid-col_2of3 grid-col_sLeftLg grid-col_fRight">
                        <div class="box box_pTopTall mix-box_tCenterAtXsm">
                            <div class="box-hd">
                                <h3 class="hdg hdg_h1 mix-hdg_tCaps mix-hdg_tShadow">Thanks for Playing</h3>
                            </div>

                            <div class="box-bd box-bd_sSidesLgAtXsm">
                                <p class="txt txt_p1">
                                    You've already entered the instant win promotion today.
                                    Enter daily until January 15 to increase your chances of winning. <a href="https://www.liquidplumr.com/wp-content/uploads/2014/10/Liquid_Plumr_Plumr_Pairs_Instant_Win_Game_Official_Rules_Oct14.pdf" target="_blank" class="txt-link">Official Rules</a>.
                                </p>
                            </div>

                            <div class="box-ft">
                                <a href="#/home" class="js-href btn btn_med">
                                    <span class="btn-hd">Play Again</span>
                                </a>
                            </div>
                        </div><!-- Box - end -->
                    </div><!-- Grid Column - end -->

                    <div class="grid-col grid-col_1of3">
                        <div class="hook">
                            <div class="hook-md hook-md_pTopXhuge">
                                <div class="logo">
                                    <h2 class="logo-plumrPairs logo-plumrPairs_med">Plumr Pairs</h2>
                                </div>
                            </div>

                            <div class="hook-ft">
                                {{> templates/modules/_SocialMediaPartial share}}
                            </div>
                        </div><!-- Logo - end -->
                    </div><!-- Grid Column - end -->
                </div><!-- Grid - end -->
            </div><!-- Modal Body - end -->
        </div><!-- Modal Container Content - end -->

        <div class="modal-container-questions modal-container-questions_smAtXsm"></div>
        <div class="modal-container-gradient"></div>
    </div><!-- Modal Container - end -->
</div>