<li>
    <div class="card">
        <div class="card-face">
            <div class="card-face-side mix-card-face-side_front mix-card-face-side_blank">
                <div class="card-face-side-container"></div>
            </div>
            <div class="card-face-side mix-card-face-side_back mix-card-face-side_blank">
                <div class="card-face-side-container"></div>
            </div>
        </div>
    </div>
</li>