<li>
    <div class="card">
        <div class="card-face">
            <div class="card-face-side mix-card-face-side_front">
                <div class="card-face-side-container">
                    <div class="card-face-side-md">
                        <span class="icn icn_gameQuestionMark"></span>
                    </div>
                </div>
            </div>
            <div class="card-face-side mix-card-face-side_back">
                <div class="card-face-side-container">
                    <span class="icn"></span>
                </div>
            </div>
        </div>
    </div>
</li>