<div class="modalOverlay">
    <div class="modalOverlay-container">
        <div class="grid">
            <div class="grid-col grid-col_7of12 grid-col_pLeftMed">
                <div class="modalOverlay-hd">
                    <h3 class="hdg hdg_h1 mix-hdg_tShadow mix-hdg_tCaps">How to Play</h3>
                </div><!-- ModalOverlay Header - end -->
                <div class="modalOverlay-bd">
                    <p class="txt txt_p1">
                        Select cards to turn them over and uncover matches.
                        Match all pairs before time runs out to advance!
                    </p>
                </div><!-- ModalOverlay Body - end -->
                <div class="modalOverlay-md">
                    <div class="example-gameLevel1"></div>
                </div><!-- ModalOverlay Media - end -->
                <div class="modalOverlay-ft">
                    <a href="#" class="btn btn_med">
                        <span class="btn-hd">Back to Game</span>
                    </a>
                </div><!-- ModalOverlay Footer - end -->
            </div>
        </div><!-- Grid - end -->
    </div><!-- ModalOverlay Container - end -->
</div><!-- ModalOverlay - end -->