<div class="modalOverlay">
    <div class="modalOverlay-container">
        <div class="grid">
            <div class="grid-col grid-col_10of12 grid-col_pLeftSm">
                <div class="media">
                    <div class="media-md media-md_hideAtXsm">
                        <div class="person">
                            <div class="person-wheelWin"></div>
                        </div>
                    </div>

                    <div class="media-bd">
                        <div class="modalOverlay-hd modalOverlay-hd_pTopLg">
                            <h3 class="hdg hdg_h1 mix-hdg_tShadow mix-hdg_tCaps">Great Spin!</h3>
                        </div>
                        <div class="modalOverlay-meta">
                            <div class="txtWrapper txtWrapper_p1">
                                <p>
                                    You've earned 25 entries to the Grand Prize Finale Sweepstakes for a
                                    chance to win $10,000 + free product!  Enter daily to increase your chances of winning.
                                    <a href="https://www.liquidplumr.com/wp-content/uploads/2014/09/Liquid_Plumr_Sweepstakes_Official_Rules_Oct14.pdf" target="_blank" class="txt-link">Official Rules.</a>
                                </p>

                                <div class="person person_hideAtMed">
                                    <div class="person-wheelWin"></div>
                                </div>

                                <div class="btnGroup">
                                    <a href="#" class="js-href btn btn_med">
                                        <span class="btn-hd">Play Again</span>
                                    </a>

                                    <a href="#" class="btn btn_med mix-btn_secondary">
                                        <span class="btn-hd">Back to Main Stage</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modalOverlay-bd modalOverlay-bd_pTopLg">
                            <div class="txtWrapper txtWrapper_p1">
                                <p>
                                    Looking for even more games? Play <a href="#" class="txt-link txt-link_info">Clog Culprits</a>
                                </p>
                            </div>
                        </div>
                        <div class="modalOverlay-ft modalOverlay-ft_pTopHuge">
                            <ul class="share">
                                <li class="share-item mix-share-item_textLg">
                                    Challenge your friends
                                </li>
                                <li class="share-item">
                                    <a href="#" class="share-item-link">
                                        <span class="icn icn_facebook js-shareFacebook"
                                                  data-js-name="{{share.facebook.title}}"
                                                  data-js-description="{{share.facebook.body}}"
                                                  data-js-image="http://victoria.nerderylabs.com/~jspradli/CURRENT.lpgamehub/wp-content/plugins/game-hub/games/matching/web/assets/media/images/desktop/global/logo-plumr-pairs.png">Facebook</span>
                                    </a>
                                </li>
                                <li class="share-item">
                                    <a href="#" class="share-item-link">
                                        <span class="icn icn_twitter js-shareTwitter"
                                                  data-js-name="{{share.facebook.title}}"
                                                  data-js-description="{{share.twitter.body}}">Twitter</span>
                                    </a>
                                </li>
                            </ul><!-- Share - end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- ModalOverlay - end -->