<div class="modal modal_fixed">
    <div class="modal-bd">
        <div class="modal-bd-close js-closeModal">
            <span class="icon icon_utility icon_utility_close"></span>
        </div>
        <div class="box mix-box_sheer mix-box_thick mix-box_full">
            <div class="info info_short">
                <div class="info-bd info-bd_center">
                    <div class="videoFrame">
                        <iframe src="//www.youtube.com/embed/XFttitrljUk?wmode=transparent&amp;showinfo=0&amp;autoplay=1&amp;controls=1&amp;modestbranding=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
